@import "utilities";

body {
  background-color: $white;

  &.dark-theme {
    background-color: black;
  }
  header {
    z-index: 99999;
    @include padding-sides;
    background-color: $white;
    transition: background-color 1s;
    height: $header-height;

    display: grid;
    position: fixed;
    top: 0;
    width: 100%;
    grid-template-rows: 100%;
    grid-template-columns: repeat(3, 1fr);

    &.dark-theme {
      background-color: black;
    }

    @include mobile {
      grid-template-columns: repeat(3, auto);
      gap: 10px;
    }
    align-items: center;

    

    .logo {
      height: 70%;
      width: max-content;
      display: inline-block;

      svg {
        height: 100%;
        width: 100%;
        .text {
          transition: fill 1s;
        
          &.dark-theme {
            fill: white;
          }
        }
      }
    }

    .theme-toggle {
      justify-self: center;
      background-color: #e3f1ec;
      height: clamp(20px, 50%, 40px);
      aspect-ratio: 3/1;
      min-width: 0;
      width: unset;
      border-radius: 999px;
      overflow: hidden;

      display: flex;
      position: relative;

      transition: background-color 1s;
      &.dark-theme {
        background-color: #28332f;
        .active-bg {
          left: 50%;
        }
      }
      .active-bg {
        content: "";
        width: 50%;
        height: 100%;
        background-color: $light-button-green;
        position: absolute;
        left: 0%;
        transition: left 0.5s;
      }
      > *:not(.active-bg) {
        z-index: 2;
        display: flex;
        width: 50%;

        justify-content: center;
        align-items: center;
        img,svg {
          height: 70%;
          path{
            transition: fill 1s;
          }
        }
      }
    }

    .mobile-nav-toggle,
    nav {
      grid-column: 3/4;
      grid-row: 1/-1;
      justify-self: end;

      &.mobile-nav-toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          path {
            fill: black;
            transition: fill 1s;
          }
        }

        &.dark-theme {
          svg {
            path {
              fill: white;
            }
          }
        }
        @include not-mobile {
          display: none;
        }
      }
      &:is(nav) {
        #close-mobile-nav {
          display: none;
        }
        ul {
          display: flex;
          flex-direction: row;
          list-style-type: none;
          li {
            margin-left: clamp(1em, 5vmin, 2em);
            a {
              font-size: clamp(1rem, 2vmin, 2rem);
              white-space: nowrap;
              font-weight: 400;
              &.active{
                font-weight: 600;
              }
            }
          }
        }
        @include mobile {
          z-index: 99999999;
          background-color: $light-button-green;
          position: fixed;
          right: 0;
          top: 0;
          height: 100vh;
          transform: translateX(100%);
          transition: transform 0.4s;
          &.open {
            transform: translateX(0%);
          }

          #close-mobile-nav {
            display: block;
            background-color: transparent;
            position: absolute;
            right: 10vw;
            top: calc($header-height/2);
            height: 1.8rem;
            svg {
              height: 100%;
              width: 100%;
              path {
                fill: black;
              }
            }
          }

          ul {
            flex-direction: column;
            padding: calc($header-height + 3rem) 10vw 0 10vw;
            gap: 1rem;
            align-items: start;
            justify-content: start;

            li {
              width: 100%;
              margin: unset;
              a {
                width: 100%;
                text-align: end;
                font-weight: 500;

                &:hover {
                  background-color: rgba($color: #fff, $alpha: 0.2);
                }
                &.dark-theme {
                  color: black;
                }
              }
            }
          }
        }
      }
    }

    &.scrolled {
      background-color: $header-bg;

      .logo{

        svg{
          .text{
            fill: white;
          }
        }
      }
      .theme-toggle{
        background-color: #629382;
        .active-bg{
          background-color: #2FBA8B;
        }
        svg{
          path{
            fill: white;
          }
        }
      }
      .mobile-nav-toggle{
        
        svg{
          path{
            fill: white;
          }
        }
      }
      
      nav{
        ul{
          li{
            a{
              color: white;
            }
          }
        }
      }
    }
  }

  main {
    #hero {
      @include padding-left;
      padding-top: $header-height;

      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100vh;

      .image {
        position: absolute;
        z-index: -2;
        height: 100%;

        left: 25%;

        &.dark-theme {
          left: 50%;
          @include mobile {
            @media screen and (orientation: landscape) {
              left: 70%;
            }
          }
        }
        @include not-mobile {
          left: 50%;
        }
        @include mobile {
          @media screen and (orientation: landscape) {
            left: 60%;
          }
        }
        img {
          width: 100%;
          height: 100%;
          object-position: left;
        }
      }

      h1 {
        z-index: -1;
        font-size: clamp(2rem, 7vmin, 7rem);
        font-weight: 700;
        position: relative;
        line-height: 1.1;
        max-width: 70%;
        @include not-mobile {
          max-width: 50%;
        }

        &::before {
          content: attr(data-watermark);
          position: absolute;
          font-size: 1.6em;
          z-index: -2;
          color: #989898;
          opacity: 0.15;
          top: -0.7em;
          left: -1em;
        }
      }
      h2 {
        font-weight: 600;
        color: #7d7d7d;
        font-size: clamp(1rem, 2.5vmin, 4rem);
        margin-top: 1em;
        max-width: 70%;
        @include not-mobile {
          max-width: 50%;
        }
      }

      .buttons {
        margin-top: 20vh;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        .call-to {
          @include primer-button;
          font-size: clamp(1rem, 2.5vmin, 3rem);
          img {
            height: 30%;
            margin-left: 1em;
          }
        }

        .seconder-call-to {
          font-size: clamp(1rem, 2.5vmin, 3rem);
          @include seconder-button;
        }
      }
    }

    #products {
      width: 100%;
      overflow: hidden;
      > ul {
        > li {
          @include padding-bottom;
          display: grid;
          font-size: 0;
          &:nth-child(odd) {
            @include padding-right;
            grid-template-columns: 1fr 2fr;
            grid-template-rows: repeat(3, auto);
            grid-template-areas:
              "image  extract"
              "dimens extract"
              "dimens button";

            @include not-mobile {
              grid-template-columns: 2fr 1fr 1fr;

              grid-template-areas:
                "image extract extract"
                "image extract extract"
                "image dimens  button ";

              @include padding-left;
              img {
                height: 100%;
                aspect-ratio: 4/3;
              }
            }

            article.extract {
              @include padding-left;
              
              * {
                float: right;
                text-align: right;
              }
              .watermark {
                right: calc(-1 * clamp(1.5rem,6vmax,4.5rem));
              }
              .overline {
                transform: translateX(0.3em); //Fix for letter spacing creating gap in the end
              }
            }
            article.dimensions{
              @include padding-left;
            }
            .call-to {
              justify-self: end;
            }
          }

          &:nth-child(even) {
            @include padding-left;
            grid-template-columns: 2fr 1fr;
            grid-template-rows: repeat(3, auto);
            grid-template-areas:
              "extract image"
              "extract dimens"
              "button  dimens";

            @include not-mobile {
              grid-template-columns: 1fr 1fr 2fr;

              grid-template-areas:
                "extract extract image"
                "extract extract image"
                "button  dimens  image";

              @include padding-right;
              img {
                height: 100%;
                aspect-ratio: 4/3;
              }
            }

            img{
              justify-self: end;
            }
            article.extract {
              @include padding-right;

              * {
                float: left;
                text-align: left;
              }
              .watermark {
                left: calc(-1 * clamp(1.5rem,6vmax,4.5rem));
                transform: scaleX(-1);
              }
            }
            article.dimensions{
              @include padding-right;
            }
            .call-to {
              justify-self: start;
            }
          }
          * {
            min-width: 0;
            min-height: 0;
          }
          img {
            grid-area: image;
            font-size: 0;
            display: block;
            min-height: 250px;
            //aspect-ratio: 9/16;
            padding: 0;
            width: 100%;
            filter: drop-shadow(0px 0px 8px rgba($color: #000000, $alpha: 0.5));
          }
          article.extract {
            grid-area: extract;

            position: relative;
            z-index: -1;
            /* display: flex;
            flex-wrap: wrap; */
            margin-bottom: 2rem;

            *:not(.watermark) {
              width: 100%;
            }
            .watermark {
              position: absolute;
              z-index: -2;
              top: -3vmax;
              width: clamp(3rem,12vmax,9rem);
            }
            .overline {
              text-transform: uppercase;
              font-weight: 800;
              letter-spacing: 0.3em;
              color: #a8d1c3;
              font-size: clamp(1.15rem, 1.7vw, 3rem);
              line-height: 1.2;
            }
            h1 {
              font-size: clamp(1.5rem, 2.5vw, 5rem);
              font-weight: 600;
              line-height: 1.2;
              margin-bottom: 0.4em;
            }
            h2 {
              font-size: clamp(1.15rem, 1.3vw, 2rem);
              line-height: 1.1;
              font-weight: 500;
              color: #8f8f8f;
              margin-bottom: 1em;
            }
            p {
              font-size: clamp(1rem, 0.9vw, 1.5rem);
              line-height: 1.2;
              max-width: 20em;
            }
          }

          article.dimensions {
            grid-area: dimens;
            align-self: end;
            
            .title {
              font-size: 0.8rem;
              font-weight: 400;
              text-decoration: underline;
            }

            ul {
              li {
                white-space: nowrap;
                color: #686868;
                font-size: 0.8rem;
                font-weight: 300;
              }
            }
          }
          .call-to {
            grid-area: button;
            @include primer-button;
            min-height: 0;
            height: max-content;
            align-self: end;

            font-size: clamp(1rem, 1.3vw, 2rem);
          }
        }
      }
    }
  }
}
