@import "utilities";
html {
  width: 100%;
}
body {
  background-color: $white;
  width: 100%;

  overflow-x: hidden;
  > * {
    width: 100%;
    overflow-x: hidden;
  }
  &[data-dark-theme="true"] {
    background-color: black;
  }
  header {
    z-index: 99999;
    @include padding-sides;
    background-color: $white;
    transition: background-color 1s;
    height: $header-height;
    overflow-y: hidden;
    display: grid;
    position: fixed;
    top: 0;
    width: 100%;
    grid-template-rows: 100%;
    grid-template-columns: repeat(3, 1fr);

    &[data-dark-theme="true"] {
      background-color: black;
    }

    @include mobile {
      grid-template-columns: repeat(3, auto);
      gap: 10px;
    }
    align-items: center;

    .logo {
      height: 70%;
      width: max-content;
      display: inline-block;

      svg {
        height: 100%;
        width: 100%;
        .text {
          transition: fill 1s;

          &[data-dark-theme="true"] {
            fill: white;
          }
        }
      }
    }

    .theme-toggle {
      justify-self: center;
      background-color: #e3f1ec;
      height: clamp(1rem, 3vmin, 3rem);
      aspect-ratio: 3/1;
      min-width: 0;
      width: unset;
      border-radius: 999px;
      overflow: hidden;

      display: flex;
      position: relative;

      transition: background-color 1s;
      &[data-dark-theme="true"] {
        background-color: #28332f;
        .active-bg {
          left: 50%;
        }
      }
      .active-bg {
        content: "";
        width: 50%;
        height: 100%;
        background-color: $light-button-green;
        position: absolute;
        left: 0%;
        transition: left 0.5s;
      }
      > *:not(.active-bg) {
        z-index: 2;
        display: flex;
        width: 50%;

        justify-content: center;
        align-items: center;
        img,
        svg {
          height: 70%;
          path {
            transition: fill 1s;
          }
        }
      }
    }

    .mobile-nav-toggle,
    nav {
      grid-column: 3/4;
      grid-row: 1/-1;
      justify-self: end;

      &.mobile-nav-toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          path {
            fill: black;
            transition: fill 1s;
          }
        }

        &[data-dark-theme="true"] {
          svg {
            path {
              fill: white;
            }
          }
        }
        @include not-mobile {
          display: none;
        }
      }
      &:is(nav) {
        #close-mobile-nav {
          display: none;
        }
        ul {
          display: flex;
          flex-direction: row;
          list-style-type: none;
          li {
            margin-left: clamp(1em, 5vmin, 2em);
            a {
              font-size: clamp(1rem, 2vmin, 2rem);
              white-space: nowrap;
              font-weight: 400;
              &.active {
                font-weight: 600;
              }
            }
          }
        }
        @include mobile {
          z-index: 99999999;
          background-color: $light-button-green;
          position: fixed;
          right: 0;
          top: 0;
          height: 100vh;
          transform: translateX(100%);
          transition: transform 0.4s;
          &.open {
            transform: translateX(0%);
          }

          #close-mobile-nav {
            display: block;
            background-color: transparent;
            position: absolute;
            right: 10vw;
            top: calc($header-height/2);
            height: 1.8rem;
            svg {
              height: 100%;
              width: 100%;
              path {
                fill: black;
              }
            }
          }

          ul {
            flex-direction: column;
            padding: calc($header-height + 3rem) 10vw 0 10vw;
            gap: 1rem;
            align-items: start;
            justify-content: start;

            li {
              width: 100%;
              margin: unset;
              a {
                width: 100%;
                text-align: end;
                font-weight: 500;

                &:hover {
                  background-color: rgba($color: #fff, $alpha: 0.2);
                }
                &[data-dark-theme="true"] {
                  color: black;
                }
              }
            }
          }
        }
      }
    }

    &.scrolled {
      background-color: $header-bg;

      .logo {
        svg {
          .text {
            fill: white;
          }
        }
      }
      .theme-toggle {
        background-color: #629382;
        .active-bg {
          background-color: #2fba8b;
        }
        svg {
          path {
            fill: white;
          }
        }
      }
      .mobile-nav-toggle {
        svg {
          path {
            fill: white;
          }
        }
      }

      nav {
        ul {
          li {
            a {
              color: white;
            }
          }
        }
      }
    }
  }

  main {
    #hero {
      @include padding-left;
      padding-top: $header-height;

      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100vh;

      .image {
        position: absolute;
        z-index: -2;
        height: 100%;

        left: 25%;

        &[data-dark-theme="true"] {
          left: 50%;
          @include mobile {
            @media screen and (orientation: landscape) {
              left: 70%;
            }
          }
        }
        @include not-mobile {
          left: 50%;
        }
        @include mobile {
          @media screen and (orientation: landscape) {
            left: 60%;
          }
        }
        img {
          width: 100%;
          height: 100%;
          object-position: left;
        }
      }

      h1 {
        z-index: -1;
        font-size: clamp(2rem, 7vmin, 7rem);
        font-weight: 700;
        position: relative;
        line-height: 1.1;
        max-width: 70%;
        @include not-mobile {
          max-width: 50%;
        }

        &::before {
          content: attr(data-watermark);
          position: absolute;
          font-size: 1.6em;
          z-index: -2;
          color: #989898;
          opacity: 0.15;
          top: -0.7em;
          left: -1em;
        }
      }
      h2 {
        font-weight: 600;
        color: #7d7d7d;
        font-size: clamp(1rem, 2.5vmin, 4rem);
        margin-top: 1em;
        max-width: 70%;
        @include not-mobile {
          max-width: 50%;
        }
      }

      .buttons {
        margin-top: 20vh;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        .call-to {
          @include primer-button;
          font-size: clamp(1rem, 2.5vmin, 3rem);
          img {
            height: 30%;
            margin-left: 1em;
          }
        }

        .seconder-call-to {
          font-size: clamp(1rem, 2.5vmin, 3rem);
          @include seconder-button;
        }
      }
    }

    #products {
      width: 100%;
      overflow: hidden;
      @include padding-bottom;
      @include padding-top;

      > ul {
        > li {
          @include padding-bottom;
          display: grid;
          font-size: 0;
          &:nth-child(odd) {
            @include padding-right;
            grid-template-columns: 1fr 2fr;
            grid-template-rows: repeat(3, auto);
            grid-template-areas:
              "image  extract"
              "dimens extract"
              "dimens button";

            @include not-mobile {
              grid-template-columns: 2fr 1fr 1fr;

              grid-template-areas:
                "image extract extract"
                "image extract extract"
                "image dimens  button ";

              @include padding-left;
              img {
                height: 100%;
                aspect-ratio: 4/3;
              }
            }

            article.extract {
              @include padding-left;

              * {
                float: right;
                text-align: right;
              }
              .watermark {
                right: calc(-1 * clamp(1.5rem, 6vmax, 4.5rem));
              }
              .overline {
                transform: translateX(0.3em); //Fix for letter spacing creating gap in the end
              }
            }
            article.dimensions {
              @include padding-left;
            }
            .call-to {
              justify-self: end;
            }
          }

          &:nth-child(even) {
            @include padding-left;
            grid-template-columns: 2fr 1fr;
            grid-template-rows: repeat(3, auto);
            grid-template-areas:
              "extract image"
              "extract dimens"
              "button  dimens";

            @include not-mobile {
              grid-template-columns: 1fr 1fr 2fr;

              grid-template-areas:
                "extract extract image"
                "extract extract image"
                "button  dimens  image";

              @include padding-right;
              img {
                height: 100%;
                aspect-ratio: 4/3;
              }
            }

            img {
              justify-self: end;
            }
            article.extract {
              @include padding-right;

              * {
                float: left;
                text-align: left;
              }
              .watermark {
                left: calc(-1 * clamp(1.5rem, 6vmax, 4.5rem));
                transform: scaleX(-1);
              }
            }
            article.dimensions {
              @include padding-right;
            }
            .call-to {
              justify-self: start;
            }
          }
          * {
            min-width: 0;
            min-height: 0;
          }
          img {
            grid-area: image;
            font-size: 0;
            display: block;
            min-height: 250px;
            //aspect-ratio: 9/16;
            padding: 0;
            width: 100%;
            filter: drop-shadow(0px 0px 8px rgba($color: #000000, $alpha: 0.5));
          }
          article.extract {
            grid-area: extract;

            position: relative;
            z-index: -1;
            /* display: flex;
            flex-wrap: wrap; */
            margin-bottom: 2rem;

            *:not(.watermark) {
              width: 100%;
            }
            .watermark {
              position: absolute;
              z-index: -2;
              top: -3vmax;
              width: clamp(3rem, 12vmax, 9rem);
            }
            .overline {
              text-transform: uppercase;
              font-weight: 800;
              letter-spacing: 0.3em;
              color: #a8d1c3;
              font-size: clamp(1.15rem, 1.7vw, 3rem);
              line-height: 1.2;
            }
            h1 {
              font-size: clamp(1.5rem, 2.5vw, 5rem);
              font-weight: 600;
              line-height: 1.2;
              margin-bottom: 0.4em;
            }
            h2 {
              font-size: clamp(1.15rem, 1.3vw, 2rem);
              line-height: 1.1;
              font-weight: 500;
              color: #8f8f8f;
              margin-bottom: 1em;
            }
            p {
              font-size: clamp(1rem, 0.9vw, 1.5rem);
              line-height: 1.2;
              max-width: 20em;
            }
          }

          article.dimensions {
            grid-area: dimens;
            align-self: end;

            .title {
              font-size: 0.8rem;
              font-weight: 400;
              text-decoration: underline;
            }

            ul {
              li {
                white-space: nowrap;
                color: #686868;
                font-size: 0.8rem;
                font-weight: 300;
              }
            }
          }
          .call-to {
            grid-area: button;
            @include primer-button;
            min-height: 0;
            height: max-content;
            align-self: end;

            font-size: clamp(1rem, 1.3vw, 2rem);
          }
        }
      }
    }

    #about {
      background-image: url("../assets/shapes/about-bg.svg");
      background-size: cover;
      background-position: center;
      @include padding-top;
      padding-bottom: 3rem;

      @include not-mobile {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: $page-padding;
      }

      article {
        $side-bar-width: clamp(8px, 1.5vmin, 15px);
        position: relative;
        margin-top: 3rem;

        p {
          font-size: 0.95rem;
          font-weight: 300;
        }

        &:first-child,
        &:nth-child(2) {
          @include margin-sides;

          &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            height: 100%;
            width: $side-bar-width;
            background-color: $lining-green;
          }

          h1 {
            font-weight: 500;
            font-size: clamp(1.6rem, 3vmin, 5rem);
            line-height: 1;
          }
          h2 {
            font-size: clamp(1.2rem, 2vmin, 3rem);
            font-weight: 500;
            color: #c2c2c2;
            margin-bottom: 1em;
          }

          &:first-child {
            grid-column: 1/3;
            &::before {
              left: calc(-1 * $page-padding);

              @include not-mobile {
                left: calc(-3 * $side-bar-width);
              }
            }
          }

          &:nth-child(2) {
            grid-column: 3/-1;
            &::before {
              right: calc(-1 * $page-padding);

              @include not-mobile {
                right: calc(-3 * $side-bar-width);
              }
            }
            * {
              width: 100%;
              text-align: end;
            }
          }
        }

        &.founder {
          @include padding-sides;
          display: flex;
          flex-direction: column;
          align-items: center;
          grid-column: 2/4;
          * {
            text-align: center;
          }

          img {
            border-radius: 9999px;
            width: 4rem;
            margin-bottom: 1rem;
          }

          .heading {
            position: relative;
            margin-bottom: 1.6rem;

            &::before {
              content: "";
              display: block;
              position: absolute;
              height: 100%;
              width: 0.5em;
              background-color: $yellow;
              top: 0;
              left: -1em;
            }

            h1 {
              font-size: clamp(1.2rem, 2.5vmin, 3rem);
              font-weight: 500;
              line-height: 1;
            }
            h2 {
              color: #71ac98;
              font-weight: 600;
              text-align: start;
              line-height: 1;
              padding-top: 0.4em;
            }
          }
          p {
          }
        }
      }
    }

    #contact {
      @include padding-vertical;
      display: flex;
      flex-wrap: wrap;
      overflow-x: hidden;
      width: 100%;
      justify-content: center;

      .banner {
        width: 100%;
        max-height: min(400px, 35vh);
      }

      > ul.shopping-options {
        width: 100%;
        @include padding-all;

        @include not-mobile {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(300px, auto));
          gap: 1rem;

          justify-content: center;
          justify-items: center;

          > li {
            max-width: 800px;
            article {
              height: 100%;
              padding: 1rem;

              @include not-mobile {
                padding: calc($page-padding/2);
              }
            }
            &:first-child {
              order: 1;
            }
            &:nth-child(2) {
              order: 3;
              justify-self: center;
            }
            &:last-child {
              order: 2;
            }
          }
        }
        > li {
          @include mobile {
            @include padding-vertical;
          }

          article {
            display: flex;
            flex-direction: column;
            align-items: center;

            * {
              text-align: center;
            }
            > img {
              height: clamp(5rem, 20vmin, 120px);
            }
            h1 {
              font-size: clamp(1.5rem, 3vmin, 4rem);
              font-weight: 500;
              margin-bottom: 0.5em;
              margin-top: 0.5em;
            }
            p {
              font-weight: 300;
              font-size: 0.95rem;
              margin-bottom: 1.6em;
            }

            ul.options {
              display: flex;
              flex-wrap: wrap;
              gap: 1rem;
              li {
                a {
                  @include seconder-button;
                  background-color: white;
                  font-size: 0.8rem;
                  color: #28ae82;
                  display: flex;
                  align-items: space-between;
                  justify-content: center;
                  border-color: #ccc;

                  &[data-dark-theme="true"] {
                    background-color: transparent;
                    border-color: #333;
                  }
                  img {
                    height: 0.75em;
                    margin-left: 0.75em;
                  }
                }
              }
            }

            ul.list {
              li {
                a {
                  color: #28ae82;
                  font-size: 0.9rem;

                  &::before {
                    content: "\2022";
                    margin-right: 0.4em;
                  }
                }
              }
            }
          }

          &.shop-online,
          &.local-sellers {
            article {
              @include mobile {
                @include padding-all;
              }

              background-color: rgba($color: #cfcfcf, $alpha: 0.15);
            }
          }

          &.our-store {
            address {
              display: flex;
              flex-wrap: wrap;
              gap: 1rem;
              align-items: end;
              justify-content: center;
              > a {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 0.9rem;
                img {
                  height: 1.3em;
                  margin-right: 1em;
                }
                span {
                  font-style: normal;
                  font-size: 1em;
                  text-align: start;
                  font-weight: 300;
                  white-space: nowrap;
                }
              }
            }
          }
        }
      }

      .contact-form {
        @include margin-sides;
        display: flex;
        flex-direction: column;
        background-color: #d5eee6;
        border-radius: clamp(10px, 3vmin, 35px);
        padding: clamp(0.8rem, 3vmin, 2rem);
        width: min(100%, 450px);

        &[data-dark-theme="true"] {
          background-color: #1d322b;
        }
        h1 {
          font-size: clamp(1.4rem, 3vmin, 2.5rem);
          font-weight: 700;
        }
        h2 {
          font-size: clamp(1rem, 1.7vmin, 1.8rem);
          color: #999;
          margin-bottom: 1em;
        }
        form {
          display: flex;
          flex-direction: column;

          label {
            font-size: 0.95rem;
            font-weight: 500;
          }
          input,
          textarea {
            border-radius: 3px;
            margin-bottom: 0.6em;
            resize: none;
            &:not([type="button"]) {
              padding: 0.3em 1em;

              &[data-dark-theme="true"] {
                background-color: #294239;
              }
            }

            &[type="button"] {
              @include primer-button;
              width: 100%;
              margin-top: 0.5em;
            }
          }
        }
      }

      .map {
        background-color: $light-button-green;
        flex-grow: 1;
        @include margin-right;
        @include mobile {
          display: none;
        }
      }
    }
  }

  footer {
    @include padding-sides;
    padding-top: clamp(2rem, 8vmin, 5rem);
    padding-bottom: clamp(2rem, 8vmin, 5rem);
    background-color: #134030;
    display: grid;
    gap: 3rem;
    grid-template-areas:
      "logo"
      "copy"
      "addr"
      "medi"
      "disc";
    @include not-mobile {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto auto;
      grid-template-areas:
        "logo .... medi"
        "copy disc addr";
    }

    * {
      color: white;
    }

    .logo {
      grid-area: logo;
      svg {
        height: clamp(2rem, 5vmax, 4rem);
        .text {
          fill: white;
        }
      }
    }
    .copyright {
      grid-area: copy;
      display: flex;
      flex-direction: column;
      font-weight: 300;

      @include not-mobile {
        align-self: end;
      }

      span {
        font-size: 0.9rem;
        &:first-child {
          font-weight: 400;
        }
        &:last-child {
          color: #bbb;
        }
      }
    }
    .social-media {
      grid-area: medi;
      justify-self: center;
      @include not-mobile {
        justify-self: end;
      }
      ul {
        font-size: 2.5rem;
        display: flex;
        gap: 0.1em;
        li {
          font-size: inherit;
          height: 1em;
          img {
            height: 100%;
          }
        }
      }
    }
    address {
      grid-area: addr;
      display: flex;
      flex-direction: column;
      align-items: end;

      @include not-mobile {
        align-self: end;
      }

      * {
        font-weight: 300;
      }
      a {
        margin-bottom: 0.5em;
        &.phone {
        }
        &.email {
          color: lightblue;
        }
        &.location {
          color: #ccc;
        }
      }
    }
    .disclaimer {
      grid-area: disc;
      text-align: center;
      font-weight: 300;

      @include not-mobile {
        align-self: end;
      }

      span {
        color: hsla(0, 50%, 50%);
      }
    }
  }
}
