@import "utilities";

body {
  background-color: $white;

  &.dark-theme {
    background-color: black;
  }
  header {
    @include padding-sides;
    background-color: $white;
    transition: background-color 1s;
    height: $header-height;

    display: grid;
    position: fixed;
    top: 0;
    width: 100%;
    grid-template-rows: 100%;
    grid-template-columns: repeat(3, 1fr);

    overflow-x: hidden;
    overflow-y: visible;

    &.dark-theme {
      background-color: black;
    }

    @include mobile {
      grid-template-columns: repeat(3, auto);
      gap: 10px;
    }
    align-items: center;

    &.scrolled {
      background-color: $header-bg;
    }

    .logo {
      height: 80%;
      width: max-content;
      svg {
        height: 100%;
        width: 100%;
      }
    }

    .theme-toggle {
      justify-self: center;
      background-color: #e3f1ec;
      height: clamp(20px, 50%, 40px);
      aspect-ratio: 3/1;
      min-width: 0;
      width: unset;
      border-radius: 9999px;
      overflow: hidden;

      display: flex;
      position: relative;
      &.dark-theme {
        .active-bg {
          left: 50%;
        }
      }
      .active-bg {
        content: "";
        width: 50%;
        height: 100%;
        background-color: $light-button-green;
        position: absolute;
        left: 0%;
        transition: left 0.5s;
      }
      > *:not(.active-bg) {
        z-index: 2;
        display: flex;
        width: 50%;

        justify-content: center;
        align-items: center;
        img {
          height: 85%;
        }
      }
    }

    .mobile-nav-toggle,
    nav {
      grid-column: 3/4;
      grid-row: 1/-1;
      justify-self: end;

      &.mobile-nav-toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          path {
            fill: black;
          }
        }
        @include not-mobile {
          display: none;
        }
      }
      &:is(nav) {
        #close-mobile-nav {
          display: none;
        }
        ul {
          display: flex;
          flex-direction: row;
          list-style-type: none;
          li {
            margin-left: clamp(1em, 5vmin, 2em);
            a {
              font-size: 1rem;
              white-space: nowrap;
            }
          }
        }
        @include mobile {
          z-index: 3;
          background-color: $light-button-green;
          position: fixed;
          right: 0;
          top: 0;
          height: 100vh;
          transform: translateX(100%);
          transition: transform 0.4s;
          &.open {
            transform: translateX(0%);
          }

          #close-mobile-nav {
            display: block;
            background-color: transparent;
            position: absolute;
            right: 10vw;
            top: calc($header-height/2);
            height: 1.8rem;
            svg {
              height: 100%;
              width: 100%;
              path {
                fill: black;
              }
            }
          }

          ul {
            flex-direction: column;
            padding: calc($header-height + 1rem) 10vw;
            gap: 1rem;
            align-items: start;
            justify-content: start;

            li {
              width: 100%;
              margin: unset;
              a {
                width: 100%;
                text-align: end;
              }
            }
          }
        }
      }
    }
  }

  main {
    #hero {
      @include padding-left;
      padding-top: $header-height;

      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100vh;

      .image {
        position: absolute;
        z-index: -1;
        height: 100%;

        left: 25%;
        @include not-mobile{
          left: 50%;
        }
        &.dark-theme{
          @include mobile{
            left: 50%;
          }
        }
        img {
          width: 100%;
          height: 100%;
          object-position: left;

          
        }
      }

      h1 {
        font-size: clamp(2rem, 7vmin, 7rem);
        font-weight: 700;
        position: relative;
        line-height: 1.1;
        max-width: 70%;
        @include not-mobile {
          max-width: 50%;
        }

        &::before{
          content: attr(data-watermark);
          position: absolute;
          font-size: 1.6em;
          z-index: 0;
          color: #989898;
          opacity: 0.15;
          top: -0.7em;
          left: -1em;
        }
      }
      h2 {
        font-weight: 600;
        color: #7d7d7d;
        font-size: clamp(1rem, 2.5vmin, 4rem);
        margin-top: 1em;
        max-width: 70%;
        @include not-mobile {
          max-width: 50%;
        }
      }

      .buttons {
        margin-top: 20vh;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        .call-to {
          @include primer-button;
          font-size: clamp(1rem, 2.5vmin, 3rem);
          img {
            height: 0.6em;
            margin-left: 1em;
          }
        }
        
        .seconder-call-to {
          font-size: clamp(1rem, 2.5vmin, 3rem);
          @include seconder-button;
        }
      }
    }
  }
}
