body {
  background-color: #fff;
}
body.dark-theme {
  background-color: black;
}
body header {
  padding-left: clamp(10px, 7vw, 250px);
  padding-right: clamp(10px, 7vw, 250px);
  background-color: #fff;
  transition: background-color 1s;
  height: clamp(35px, 7vmin, 200px);
  display: grid;
  position: fixed;
  top: 0;
  width: 100%;
  grid-template-rows: 100%;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
@media screen and (min-width: 1200px) {
  body header {
    padding-left: 10vw;
  }
}
@media screen and (min-width: 1200px) {
  body header {
    padding-right: 10vw;
  }
}
body header.dark-theme {
  background-color: black;
}
@media screen and (max-width: 800px) {
  body header {
    grid-template-columns: repeat(3, auto);
    gap: 10px;
  }
}
body header.scrolled {
  background-color: #3E6A5B;
}
body header .logo {
  height: 80%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: inline-block;
}
body header .logo svg {
  height: 100%;
  width: 100%;
}
body header .logo svg .text.dark-theme {
  fill: white;
}
body header .theme-toggle {
  justify-self: center;
  background-color: #e3f1ec;
  height: clamp(20px, 50%, 40px);
  aspect-ratio: 3/1;
  min-width: 0;
  width: unset;
  border-radius: 999px;
  overflow: hidden;
  display: flex;
  position: relative;
}
body header .theme-toggle.dark-theme {
  background-color: #28332f;
}
body header .theme-toggle.dark-theme .active-bg {
  left: 50%;
}
body header .theme-toggle .active-bg {
  content: "";
  width: 50%;
  height: 100%;
  background-color: #6DCAAA;
  position: absolute;
  left: 0%;
  transition: left 0.5s;
}
body header .theme-toggle > *:not(.active-bg) {
  z-index: 2;
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}
body header .theme-toggle > *:not(.active-bg) img {
  height: 85%;
}
body header .mobile-nav-toggle,
body header nav {
  grid-column: 3/4;
  grid-row: 1/-1;
  justify-self: end;
}
body header .mobile-nav-toggle.mobile-nav-toggle,
body header nav.mobile-nav-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
}
body header .mobile-nav-toggle.mobile-nav-toggle svg path,
body header nav.mobile-nav-toggle svg path {
  fill: black;
}
body header .mobile-nav-toggle.mobile-nav-toggle.dark-theme svg path,
body header nav.mobile-nav-toggle.dark-theme svg path {
  fill: white;
}
@media screen and (min-width: 801px) {
  body header .mobile-nav-toggle.mobile-nav-toggle,
body header nav.mobile-nav-toggle {
    display: none;
  }
}
body header .mobile-nav-toggle:is(nav) #close-mobile-nav,
body header nav:is(nav) #close-mobile-nav {
  display: none;
}
body header .mobile-nav-toggle:is(nav) ul,
body header nav:is(nav) ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
body header .mobile-nav-toggle:is(nav) ul li,
body header nav:is(nav) ul li {
  margin-left: clamp(1em, 5vmin, 2em);
}
body header .mobile-nav-toggle:is(nav) ul li a,
body header nav:is(nav) ul li a {
  font-size: clamp(1rem, 2vmin, 2rem);
  white-space: nowrap;
}
@media screen and (max-width: 800px) {
  body header .mobile-nav-toggle:is(nav),
body header nav:is(nav) {
    z-index: 99999999;
    background-color: #6DCAAA;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    transform: translateX(100%);
    transition: transform 0.4s;
  }
  body header .mobile-nav-toggle:is(nav).open,
body header nav:is(nav).open {
    transform: translateX(0%);
  }
  body header .mobile-nav-toggle:is(nav) #close-mobile-nav,
body header nav:is(nav) #close-mobile-nav {
    display: block;
    background-color: transparent;
    position: absolute;
    right: 10vw;
    top: calc(clamp(35px, 7vmin, 200px) / 2);
    height: 1.8rem;
  }
  body header .mobile-nav-toggle:is(nav) #close-mobile-nav svg,
body header nav:is(nav) #close-mobile-nav svg {
    height: 100%;
    width: 100%;
  }
  body header .mobile-nav-toggle:is(nav) #close-mobile-nav svg path,
body header nav:is(nav) #close-mobile-nav svg path {
    fill: black;
  }
  body header .mobile-nav-toggle:is(nav) ul,
body header nav:is(nav) ul {
    flex-direction: column;
    padding: calc(clamp(35px, 7vmin, 200px) + 3rem) 10vw 0 10vw;
    gap: 1rem;
    align-items: start;
    justify-content: start;
  }
  body header .mobile-nav-toggle:is(nav) ul li,
body header nav:is(nav) ul li {
    width: 100%;
    margin: unset;
  }
  body header .mobile-nav-toggle:is(nav) ul li a,
body header nav:is(nav) ul li a {
    width: 100%;
    text-align: end;
    font-weight: 500;
  }
  body header .mobile-nav-toggle:is(nav) ul li a:hover,
body header nav:is(nav) ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  body header .mobile-nav-toggle:is(nav) ul li a.dark-theme,
body header nav:is(nav) ul li a.dark-theme {
    color: black;
  }
}
body main #hero {
  padding-left: clamp(10px, 7vw, 250px);
  padding-top: clamp(35px, 7vmin, 200px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
@media screen and (min-width: 1200px) {
  body main #hero {
    padding-left: 10vw;
  }
}
body main #hero .image {
  position: absolute;
  z-index: -2;
  height: 100%;
  left: 25%;
}
body main #hero .image.dark-theme {
  left: 50%;
}
@media screen and (max-width: 800px) and (orientation: landscape) {
  body main #hero .image.dark-theme {
    left: 70%;
  }
}
@media screen and (min-width: 801px) {
  body main #hero .image {
    left: 50%;
  }
}
@media screen and (max-width: 800px) and (orientation: landscape) {
  body main #hero .image {
    left: 60%;
  }
}
body main #hero .image img {
  width: 100%;
  height: 100%;
  -o-object-position: left;
     object-position: left;
}
body main #hero h1 {
  z-index: -1;
  font-size: clamp(2rem, 7vmin, 7rem);
  font-weight: 700;
  position: relative;
  line-height: 1.1;
  max-width: 70%;
}
@media screen and (min-width: 801px) {
  body main #hero h1 {
    max-width: 50%;
  }
}
body main #hero h1::before {
  content: attr(data-watermark);
  position: absolute;
  font-size: 1.6em;
  z-index: -2;
  color: #989898;
  opacity: 0.15;
  top: -0.7em;
  left: -1em;
}
body main #hero h2 {
  font-weight: 600;
  color: #7d7d7d;
  font-size: clamp(1rem, 2.5vmin, 4rem);
  margin-top: 1em;
  max-width: 70%;
}
@media screen and (min-width: 801px) {
  body main #hero h2 {
    max-width: 50%;
  }
}
body main #hero .buttons {
  margin-top: 20vh;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
body main #hero .buttons .call-to {
  padding: 0.5em 2em;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #2A7F62;
  color: white;
  font-weight: 600;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  font-size: clamp(1rem, 2.5vmin, 3rem);
}
body main #hero .buttons .call-to.dark-theme {
  box-shadow: 0px 4px 8px rgba(42, 127, 98, 0.7);
}
body main #hero .buttons .call-to img {
  height: 30%;
  margin-left: 1em;
}
body main #hero .buttons .seconder-call-to {
  font-size: clamp(1rem, 2.5vmin, 3rem);
  padding: 0.5em 2em;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: transparent;
  border: 1px solid #2A7F62;
  color: #2A7F62;
  font-weight: 600;
}
body main #products > ul > li {
  padding-bottom: clamp(10px, 7vw, 250px);
  display: grid;
  font-size: 0;
}
@media screen and (min-width: 1200px) {
  body main #products > ul > li {
    padding-bottom: 10vw;
  }
}
body main #products > ul > li:nth-child(odd) {
  padding-right: clamp(10px, 7vw, 250px);
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "image  extract" "dimens extract" "dimens button";
}
@media screen and (min-width: 1200px) {
  body main #products > ul > li:nth-child(odd) {
    padding-right: 10vw;
  }
}
@media screen and (min-width: 801px) {
  body main #products > ul > li:nth-child(odd) {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas: "image extract extract" "image extract extract" "image dimens  button ";
    padding-left: clamp(10px, 7vw, 250px);
  }
}
@media screen and (min-width: 801px) and (min-width: 1200px) {
  body main #products > ul > li:nth-child(odd) {
    padding-left: 10vw;
  }
}
@media screen and (min-width: 801px) {
  body main #products > ul > li:nth-child(odd) img {
    height: 100%;
    aspect-ratio: 4/3;
  }
}
body main #products > ul > li:nth-child(odd) article.extract {
  padding-left: clamp(10px, 7vw, 250px);
}
@media screen and (min-width: 1200px) {
  body main #products > ul > li:nth-child(odd) article.extract {
    padding-left: 10vw;
  }
}
body main #products > ul > li:nth-child(odd) article.extract * {
  float: right;
  text-align: right;
}
body main #products > ul > li:nth-child(odd) article.extract .watermark {
  right: calc(-1 * clamp(1.5rem, 6vmax, 4.5rem));
}
body main #products > ul > li:nth-child(odd) article.extract .overline {
  transform: translateX(0.3em);
}
body main #products > ul > li:nth-child(odd) article.dimensions {
  padding-left: clamp(10px, 7vw, 250px);
}
@media screen and (min-width: 1200px) {
  body main #products > ul > li:nth-child(odd) article.dimensions {
    padding-left: 10vw;
  }
}
body main #products > ul > li:nth-child(odd) .call-to {
  justify-self: end;
}
body main #products > ul > li:nth-child(even) {
  padding-left: clamp(10px, 7vw, 250px);
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "extract image" "extract dimens" "button  dimens";
}
@media screen and (min-width: 1200px) {
  body main #products > ul > li:nth-child(even) {
    padding-left: 10vw;
  }
}
@media screen and (min-width: 801px) {
  body main #products > ul > li:nth-child(even) {
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-areas: "extract extract image" "extract extract image" "button  dimens  image";
    padding-right: clamp(10px, 7vw, 250px);
  }
}
@media screen and (min-width: 801px) and (min-width: 1200px) {
  body main #products > ul > li:nth-child(even) {
    padding-right: 10vw;
  }
}
@media screen and (min-width: 801px) {
  body main #products > ul > li:nth-child(even) img {
    height: 100%;
    aspect-ratio: 4/3;
  }
}
body main #products > ul > li:nth-child(even) img {
  justify-self: end;
}
body main #products > ul > li:nth-child(even) article.extract {
  padding-right: clamp(10px, 7vw, 250px);
}
@media screen and (min-width: 1200px) {
  body main #products > ul > li:nth-child(even) article.extract {
    padding-right: 10vw;
  }
}
body main #products > ul > li:nth-child(even) article.extract * {
  float: left;
  text-align: left;
}
body main #products > ul > li:nth-child(even) article.extract .watermark {
  left: calc(-1 * clamp(1.5rem, 6vmax, 4.5rem));
  transform: scaleX(-1);
}
body main #products > ul > li:nth-child(even) article.dimensions {
  padding-right: clamp(10px, 7vw, 250px);
}
@media screen and (min-width: 1200px) {
  body main #products > ul > li:nth-child(even) article.dimensions {
    padding-right: 10vw;
  }
}
body main #products > ul > li:nth-child(even) .call-to {
  justify-self: start;
}
body main #products > ul > li * {
  min-width: 0;
  min-height: 0;
}
body main #products > ul > li img {
  grid-area: image;
  font-size: 0;
  display: block;
  min-height: 250px;
  padding: 0;
  width: 100%;
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.5));
}
body main #products > ul > li article.extract {
  grid-area: extract;
  position: relative;
  z-index: -1;
  /* display: flex;
  flex-wrap: wrap; */
  margin-bottom: 2rem;
}
body main #products > ul > li article.extract *:not(.watermark) {
  width: 100%;
}
body main #products > ul > li article.extract .watermark {
  position: absolute;
  z-index: -2;
  top: -3vmax;
  width: clamp(3rem, 12vmax, 9rem);
}
body main #products > ul > li article.extract .overline {
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.3em;
  color: #a8d1c3;
  font-size: clamp(1.15rem, 1.7vw, 3rem);
  line-height: 1.2;
}
body main #products > ul > li article.extract h1 {
  font-size: clamp(1.5rem, 2.5vw, 5rem);
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0.4em;
}
body main #products > ul > li article.extract h2 {
  font-size: clamp(1.15rem, 1.3vw, 2rem);
  line-height: 1.1;
  font-weight: 500;
  color: #8f8f8f;
  margin-bottom: 1em;
}
body main #products > ul > li article.extract p {
  font-size: clamp(1rem, 0.9vw, 1.5rem);
  line-height: 1.2;
  max-width: 20em;
}
body main #products > ul > li article.dimensions {
  grid-area: dimens;
  align-self: end;
}
body main #products > ul > li article.dimensions .title {
  font-size: 0.8rem;
  font-weight: 400;
  text-decoration: underline;
}
body main #products > ul > li article.dimensions ul li {
  white-space: nowrap;
  color: #686868;
  font-size: 0.8rem;
  font-weight: 300;
}
body main #products > ul > li .call-to {
  grid-area: button;
  padding: 0.5em 2em;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #2A7F62;
  color: white;
  font-weight: 600;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  min-height: 0;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  align-self: end;
  font-size: clamp(1rem, 1.3vw, 2rem);
}
body main #products > ul > li .call-to.dark-theme {
  box-shadow: 0px 4px 8px rgba(42, 127, 98, 0.7);
}/*# sourceMappingURL=index.css.map */