@charset "UTF-8";
html {
  width: 100%;
}

body {
  background-color: #fff;
  width: 100%;
  overflow-x: hidden;
}
body > * {
  width: 100%;
  overflow-x: hidden;
}
body.dark-theme {
  background-color: black;
}
body header {
  z-index: 99999;
  padding-left: clamp(10px, 5vw, 250px);
  padding-right: clamp(10px, 5vw, 250px);
  background-color: #fff;
  transition: background-color 1s;
  height: clamp(35px, 7vmin, 200px);
  display: grid;
  position: fixed;
  top: 0;
  width: 100%;
  grid-template-rows: 100%;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
@media screen and (min-width: 1200px) {
  body header {
    padding-left: 10vw;
  }
}
@media screen and (min-width: 1200px) {
  body header {
    padding-right: 10vw;
  }
}
body header.dark-theme {
  background-color: black;
}
@media screen and (max-width: 800px) {
  body header {
    grid-template-columns: repeat(3, auto);
    gap: 10px;
  }
}
body header .logo {
  height: 70%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: inline-block;
}
body header .logo svg {
  height: 100%;
  width: 100%;
}
body header .logo svg .text {
  transition: fill 1s;
}
body header .logo svg .text.dark-theme {
  fill: white;
}
body header .theme-toggle {
  justify-self: center;
  background-color: #e3f1ec;
  height: clamp(1rem, 3vmin, 3rem);
  aspect-ratio: 3/1;
  min-width: 0;
  width: unset;
  border-radius: 999px;
  overflow: hidden;
  display: flex;
  position: relative;
  transition: background-color 1s;
}
body header .theme-toggle.dark-theme {
  background-color: #28332f;
}
body header .theme-toggle.dark-theme .active-bg {
  left: 50%;
}
body header .theme-toggle .active-bg {
  content: "";
  width: 50%;
  height: 100%;
  background-color: #6DCAAA;
  position: absolute;
  left: 0%;
  transition: left 0.5s;
}
body header .theme-toggle > *:not(.active-bg) {
  z-index: 2;
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}
body header .theme-toggle > *:not(.active-bg) img,
body header .theme-toggle > *:not(.active-bg) svg {
  height: 70%;
}
body header .theme-toggle > *:not(.active-bg) img path,
body header .theme-toggle > *:not(.active-bg) svg path {
  transition: fill 1s;
}
body header .mobile-nav-toggle,
body header nav {
  grid-column: 3/4;
  grid-row: 1/-1;
  justify-self: end;
}
body header .mobile-nav-toggle.mobile-nav-toggle,
body header nav.mobile-nav-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
}
body header .mobile-nav-toggle.mobile-nav-toggle svg path,
body header nav.mobile-nav-toggle svg path {
  fill: black;
  transition: fill 1s;
}
body header .mobile-nav-toggle.mobile-nav-toggle.dark-theme svg path,
body header nav.mobile-nav-toggle.dark-theme svg path {
  fill: white;
}
@media screen and (min-width: 801px) {
  body header .mobile-nav-toggle.mobile-nav-toggle,
body header nav.mobile-nav-toggle {
    display: none;
  }
}
body header .mobile-nav-toggle:is(nav) #close-mobile-nav,
body header nav:is(nav) #close-mobile-nav {
  display: none;
}
body header .mobile-nav-toggle:is(nav) ul,
body header nav:is(nav) ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
body header .mobile-nav-toggle:is(nav) ul li,
body header nav:is(nav) ul li {
  margin-left: clamp(1em, 5vmin, 2em);
}
body header .mobile-nav-toggle:is(nav) ul li a,
body header nav:is(nav) ul li a {
  font-size: clamp(1rem, 2vmin, 2rem);
  white-space: nowrap;
  font-weight: 400;
}
body header .mobile-nav-toggle:is(nav) ul li a.active,
body header nav:is(nav) ul li a.active {
  font-weight: 600;
}
@media screen and (max-width: 800px) {
  body header .mobile-nav-toggle:is(nav),
body header nav:is(nav) {
    z-index: 99999999;
    background-color: #6DCAAA;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    transform: translateX(100%);
    transition: transform 0.4s;
  }
  body header .mobile-nav-toggle:is(nav).open,
body header nav:is(nav).open {
    transform: translateX(0%);
  }
  body header .mobile-nav-toggle:is(nav) #close-mobile-nav,
body header nav:is(nav) #close-mobile-nav {
    display: block;
    background-color: transparent;
    position: absolute;
    right: 10vw;
    top: calc(clamp(35px, 7vmin, 200px) / 2);
    height: 1.8rem;
  }
  body header .mobile-nav-toggle:is(nav) #close-mobile-nav svg,
body header nav:is(nav) #close-mobile-nav svg {
    height: 100%;
    width: 100%;
  }
  body header .mobile-nav-toggle:is(nav) #close-mobile-nav svg path,
body header nav:is(nav) #close-mobile-nav svg path {
    fill: black;
  }
  body header .mobile-nav-toggle:is(nav) ul,
body header nav:is(nav) ul {
    flex-direction: column;
    padding: calc(clamp(35px, 7vmin, 200px) + 3rem) 10vw 0 10vw;
    gap: 1rem;
    align-items: start;
    justify-content: start;
  }
  body header .mobile-nav-toggle:is(nav) ul li,
body header nav:is(nav) ul li {
    width: 100%;
    margin: unset;
  }
  body header .mobile-nav-toggle:is(nav) ul li a,
body header nav:is(nav) ul li a {
    width: 100%;
    text-align: end;
    font-weight: 500;
  }
  body header .mobile-nav-toggle:is(nav) ul li a:hover,
body header nav:is(nav) ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  body header .mobile-nav-toggle:is(nav) ul li a.dark-theme,
body header nav:is(nav) ul li a.dark-theme {
    color: black;
  }
}
body header.scrolled {
  background-color: #3E6A5B;
}
body header.scrolled .logo svg .text {
  fill: white;
}
body header.scrolled .theme-toggle {
  background-color: #629382;
}
body header.scrolled .theme-toggle .active-bg {
  background-color: #2fba8b;
}
body header.scrolled .theme-toggle svg path {
  fill: white;
}
body header.scrolled .mobile-nav-toggle svg path {
  fill: white;
}
body header.scrolled nav ul li a {
  color: white;
}
body main #hero {
  padding-left: clamp(10px, 5vw, 250px);
  padding-top: clamp(35px, 7vmin, 200px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
@media screen and (min-width: 1200px) {
  body main #hero {
    padding-left: 10vw;
  }
}
body main #hero .image {
  position: absolute;
  z-index: -2;
  height: 100%;
  left: 25%;
}
body main #hero .image.dark-theme {
  left: 50%;
}
@media screen and (max-width: 800px) and (orientation: landscape) {
  body main #hero .image.dark-theme {
    left: 70%;
  }
}
@media screen and (min-width: 801px) {
  body main #hero .image {
    left: 50%;
  }
}
@media screen and (max-width: 800px) and (orientation: landscape) {
  body main #hero .image {
    left: 60%;
  }
}
body main #hero .image img {
  width: 100%;
  height: 100%;
  -o-object-position: left;
     object-position: left;
}
body main #hero h1 {
  z-index: -1;
  font-size: clamp(2rem, 7vmin, 7rem);
  font-weight: 700;
  position: relative;
  line-height: 1.1;
  max-width: 70%;
}
@media screen and (min-width: 801px) {
  body main #hero h1 {
    max-width: 50%;
  }
}
body main #hero h1::before {
  content: attr(data-watermark);
  position: absolute;
  font-size: 1.6em;
  z-index: -2;
  color: #989898;
  opacity: 0.15;
  top: -0.7em;
  left: -1em;
}
body main #hero h2 {
  font-weight: 600;
  color: #7d7d7d;
  font-size: clamp(1rem, 2.5vmin, 4rem);
  margin-top: 1em;
  max-width: 70%;
}
@media screen and (min-width: 801px) {
  body main #hero h2 {
    max-width: 50%;
  }
}
body main #hero .buttons {
  margin-top: 20vh;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
body main #hero .buttons .call-to {
  padding: 0.5em 2em;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #2A7F62;
  color: white;
  font-weight: 600;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  font-size: clamp(1rem, 2.5vmin, 3rem);
}
body main #hero .buttons .call-to.dark-theme {
  box-shadow: 0px 4px 8px rgba(42, 127, 98, 0.7);
}
body main #hero .buttons .call-to img {
  height: 30%;
  margin-left: 1em;
}
body main #hero .buttons .seconder-call-to {
  font-size: clamp(1rem, 2.5vmin, 3rem);
  padding: 0.5em 2em;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: transparent;
  border: 1px solid #2A7F62;
  color: #2A7F62;
  font-weight: 600;
}
body main #products {
  width: 100%;
  overflow: hidden;
  padding-bottom: clamp(10px, 5vw, 250px);
  padding-top: clamp(10px, 5vw, 250px);
}
@media screen and (min-width: 1200px) {
  body main #products {
    padding-bottom: 10vw;
  }
}
@media screen and (min-width: 1200px) {
  body main #products {
    padding-top: 10vw;
  }
}
body main #products > ul > li {
  padding-bottom: clamp(10px, 5vw, 250px);
  display: grid;
  font-size: 0;
}
@media screen and (min-width: 1200px) {
  body main #products > ul > li {
    padding-bottom: 10vw;
  }
}
body main #products > ul > li:nth-child(odd) {
  padding-right: clamp(10px, 5vw, 250px);
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "image  extract" "dimens extract" "dimens button";
}
@media screen and (min-width: 1200px) {
  body main #products > ul > li:nth-child(odd) {
    padding-right: 10vw;
  }
}
@media screen and (min-width: 801px) {
  body main #products > ul > li:nth-child(odd) {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas: "image extract extract" "image extract extract" "image dimens  button ";
    padding-left: clamp(10px, 5vw, 250px);
  }
}
@media screen and (min-width: 801px) and (min-width: 1200px) {
  body main #products > ul > li:nth-child(odd) {
    padding-left: 10vw;
  }
}
@media screen and (min-width: 801px) {
  body main #products > ul > li:nth-child(odd) img {
    height: 100%;
    aspect-ratio: 4/3;
  }
}
body main #products > ul > li:nth-child(odd) article.extract {
  padding-left: clamp(10px, 5vw, 250px);
}
@media screen and (min-width: 1200px) {
  body main #products > ul > li:nth-child(odd) article.extract {
    padding-left: 10vw;
  }
}
body main #products > ul > li:nth-child(odd) article.extract * {
  float: right;
  text-align: right;
}
body main #products > ul > li:nth-child(odd) article.extract .watermark {
  right: calc(-1 * clamp(1.5rem, 6vmax, 4.5rem));
}
body main #products > ul > li:nth-child(odd) article.extract .overline {
  transform: translateX(0.3em);
}
body main #products > ul > li:nth-child(odd) article.dimensions {
  padding-left: clamp(10px, 5vw, 250px);
}
@media screen and (min-width: 1200px) {
  body main #products > ul > li:nth-child(odd) article.dimensions {
    padding-left: 10vw;
  }
}
body main #products > ul > li:nth-child(odd) .call-to {
  justify-self: end;
}
body main #products > ul > li:nth-child(even) {
  padding-left: clamp(10px, 5vw, 250px);
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "extract image" "extract dimens" "button  dimens";
}
@media screen and (min-width: 1200px) {
  body main #products > ul > li:nth-child(even) {
    padding-left: 10vw;
  }
}
@media screen and (min-width: 801px) {
  body main #products > ul > li:nth-child(even) {
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-areas: "extract extract image" "extract extract image" "button  dimens  image";
    padding-right: clamp(10px, 5vw, 250px);
  }
}
@media screen and (min-width: 801px) and (min-width: 1200px) {
  body main #products > ul > li:nth-child(even) {
    padding-right: 10vw;
  }
}
@media screen and (min-width: 801px) {
  body main #products > ul > li:nth-child(even) img {
    height: 100%;
    aspect-ratio: 4/3;
  }
}
body main #products > ul > li:nth-child(even) img {
  justify-self: end;
}
body main #products > ul > li:nth-child(even) article.extract {
  padding-right: clamp(10px, 5vw, 250px);
}
@media screen and (min-width: 1200px) {
  body main #products > ul > li:nth-child(even) article.extract {
    padding-right: 10vw;
  }
}
body main #products > ul > li:nth-child(even) article.extract * {
  float: left;
  text-align: left;
}
body main #products > ul > li:nth-child(even) article.extract .watermark {
  left: calc(-1 * clamp(1.5rem, 6vmax, 4.5rem));
  transform: scaleX(-1);
}
body main #products > ul > li:nth-child(even) article.dimensions {
  padding-right: clamp(10px, 5vw, 250px);
}
@media screen and (min-width: 1200px) {
  body main #products > ul > li:nth-child(even) article.dimensions {
    padding-right: 10vw;
  }
}
body main #products > ul > li:nth-child(even) .call-to {
  justify-self: start;
}
body main #products > ul > li * {
  min-width: 0;
  min-height: 0;
}
body main #products > ul > li img {
  grid-area: image;
  font-size: 0;
  display: block;
  min-height: 250px;
  padding: 0;
  width: 100%;
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.5));
}
body main #products > ul > li article.extract {
  grid-area: extract;
  position: relative;
  z-index: -1;
  /* display: flex;
  flex-wrap: wrap; */
  margin-bottom: 2rem;
}
body main #products > ul > li article.extract *:not(.watermark) {
  width: 100%;
}
body main #products > ul > li article.extract .watermark {
  position: absolute;
  z-index: -2;
  top: -3vmax;
  width: clamp(3rem, 12vmax, 9rem);
}
body main #products > ul > li article.extract .overline {
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.3em;
  color: #a8d1c3;
  font-size: clamp(1.15rem, 1.7vw, 3rem);
  line-height: 1.2;
}
body main #products > ul > li article.extract h1 {
  font-size: clamp(1.5rem, 2.5vw, 5rem);
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0.4em;
}
body main #products > ul > li article.extract h2 {
  font-size: clamp(1.15rem, 1.3vw, 2rem);
  line-height: 1.1;
  font-weight: 500;
  color: #8f8f8f;
  margin-bottom: 1em;
}
body main #products > ul > li article.extract p {
  font-size: clamp(1rem, 0.9vw, 1.5rem);
  line-height: 1.2;
  max-width: 20em;
}
body main #products > ul > li article.dimensions {
  grid-area: dimens;
  align-self: end;
}
body main #products > ul > li article.dimensions .title {
  font-size: 0.8rem;
  font-weight: 400;
  text-decoration: underline;
}
body main #products > ul > li article.dimensions ul li {
  white-space: nowrap;
  color: #686868;
  font-size: 0.8rem;
  font-weight: 300;
}
body main #products > ul > li .call-to {
  grid-area: button;
  padding: 0.5em 2em;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #2A7F62;
  color: white;
  font-weight: 600;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  min-height: 0;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  align-self: end;
  font-size: clamp(1rem, 1.3vw, 2rem);
}
body main #products > ul > li .call-to.dark-theme {
  box-shadow: 0px 4px 8px rgba(42, 127, 98, 0.7);
}
body main #about {
  background-image: url("../assets/shapes/about-bg.svg");
  background-size: cover;
  background-position: center;
  padding-top: clamp(10px, 5vw, 250px);
  padding-bottom: 3rem;
}
@media screen and (min-width: 1200px) {
  body main #about {
    padding-top: 10vw;
  }
}
@media screen and (min-width: 801px) {
  body main #about {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: clamp(10px, 5vw, 250px);
  }
}
body main #about article {
  position: relative;
  margin-top: 3rem;
}
body main #about article p {
  font-size: 0.95rem;
  font-weight: 300;
}
body main #about article:first-child, body main #about article:nth-child(2) {
  margin-left: clamp(10px, 5vw, 250px);
  margin-right: clamp(10px, 5vw, 250px);
}
@media screen and (min-width: 1200px) {
  body main #about article:first-child, body main #about article:nth-child(2) {
    margin-left: 10vw;
  }
}
@media screen and (min-width: 1200px) {
  body main #about article:first-child, body main #about article:nth-child(2) {
    margin-right: 10vw;
  }
}
body main #about article:first-child::before, body main #about article:nth-child(2)::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  width: clamp(8px, 1.5vmin, 15px);
  background-color: #1CDC9C;
}
body main #about article:first-child h1, body main #about article:nth-child(2) h1 {
  font-weight: 500;
  font-size: clamp(1.6rem, 3vmin, 5rem);
  line-height: 1;
}
body main #about article:first-child h2, body main #about article:nth-child(2) h2 {
  font-size: clamp(1.2rem, 2vmin, 3rem);
  font-weight: 500;
  color: #c2c2c2;
  margin-bottom: 1em;
}
body main #about article:first-child:first-child, body main #about article:nth-child(2):first-child {
  grid-column: 1/3;
}
body main #about article:first-child:first-child::before, body main #about article:nth-child(2):first-child::before {
  left: calc(-1 * clamp(10px, 5vw, 250px));
}
@media screen and (min-width: 801px) {
  body main #about article:first-child:first-child::before, body main #about article:nth-child(2):first-child::before {
    left: calc(-3 * clamp(8px, 1.5vmin, 15px));
  }
}
body main #about article:first-child:nth-child(2), body main #about article:nth-child(2):nth-child(2) {
  grid-column: 3/-1;
}
body main #about article:first-child:nth-child(2)::before, body main #about article:nth-child(2):nth-child(2)::before {
  right: calc(-1 * clamp(10px, 5vw, 250px));
}
@media screen and (min-width: 801px) {
  body main #about article:first-child:nth-child(2)::before, body main #about article:nth-child(2):nth-child(2)::before {
    right: calc(-3 * clamp(8px, 1.5vmin, 15px));
  }
}
body main #about article:first-child:nth-child(2) *, body main #about article:nth-child(2):nth-child(2) * {
  width: 100%;
  text-align: end;
}
body main #about article.founder {
  padding-left: clamp(10px, 5vw, 250px);
  padding-right: clamp(10px, 5vw, 250px);
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 2/4;
}
@media screen and (min-width: 1200px) {
  body main #about article.founder {
    padding-left: 10vw;
  }
}
@media screen and (min-width: 1200px) {
  body main #about article.founder {
    padding-right: 10vw;
  }
}
body main #about article.founder * {
  text-align: center;
}
body main #about article.founder img {
  border-radius: 9999px;
  width: 4rem;
  margin-bottom: 1rem;
}
body main #about article.founder .heading {
  position: relative;
  margin-bottom: 1.6rem;
}
body main #about article.founder .heading::before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 0.5em;
  background-color: #FCBB46;
  top: 0;
  left: -1em;
}
body main #about article.founder .heading h1 {
  font-size: clamp(1.2rem, 2.5vmin, 3rem);
  font-weight: 500;
  line-height: 1;
}
body main #about article.founder .heading h2 {
  color: #71ac98;
  font-weight: 600;
  text-align: start;
  line-height: 1;
  padding-top: 0.4em;
}
body main #contact {
  padding-top: clamp(10px, 5vw, 250px);
  padding-bottom: clamp(10px, 5vw, 250px);
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
  width: 100%;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  body main #contact {
    padding-top: 10vw;
  }
}
@media screen and (min-width: 1200px) {
  body main #contact {
    padding-bottom: 10vw;
  }
}
body main #contact .banner {
  width: 100%;
  max-height: min(400px, 35vh);
}
body main #contact > ul.shopping-options {
  width: 100%;
  padding-left: clamp(10px, 5vw, 250px);
  padding-right: clamp(10px, 5vw, 250px);
  padding-top: clamp(10px, 5vw, 250px);
  padding-bottom: clamp(10px, 5vw, 250px);
}
@media screen and (min-width: 1200px) {
  body main #contact > ul.shopping-options {
    padding-left: 10vw;
  }
}
@media screen and (min-width: 1200px) {
  body main #contact > ul.shopping-options {
    padding-right: 10vw;
  }
}
@media screen and (min-width: 1200px) {
  body main #contact > ul.shopping-options {
    padding-top: 10vw;
  }
}
@media screen and (min-width: 1200px) {
  body main #contact > ul.shopping-options {
    padding-bottom: 10vw;
  }
}
@media screen and (min-width: 801px) {
  body main #contact > ul.shopping-options {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 1rem;
    justify-content: center;
    justify-items: center;
  }
  body main #contact > ul.shopping-options > li {
    max-width: 800px;
  }
  body main #contact > ul.shopping-options > li article {
    height: 100%;
    padding: 1rem;
  }
}
@media screen and (min-width: 801px) and (min-width: 801px) {
  body main #contact > ul.shopping-options > li article {
    padding: calc(clamp(10px, 5vw, 250px) / 2);
  }
}
@media screen and (min-width: 801px) {
  body main #contact > ul.shopping-options > li:first-child {
    order: 1;
  }
}
@media screen and (min-width: 801px) {
  body main #contact > ul.shopping-options > li:nth-child(2) {
    order: 3;
    justify-self: center;
  }
}
@media screen and (min-width: 801px) {
  body main #contact > ul.shopping-options > li:last-child {
    order: 2;
  }
}
@media screen and (max-width: 800px) {
  body main #contact > ul.shopping-options > li {
    padding-top: clamp(10px, 5vw, 250px);
    padding-bottom: clamp(10px, 5vw, 250px);
  }
}
@media screen and (max-width: 800px) and (min-width: 1200px) {
  body main #contact > ul.shopping-options > li {
    padding-top: 10vw;
  }
}
@media screen and (max-width: 800px) and (min-width: 1200px) {
  body main #contact > ul.shopping-options > li {
    padding-bottom: 10vw;
  }
}
body main #contact > ul.shopping-options > li article {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main #contact > ul.shopping-options > li article * {
  text-align: center;
}
body main #contact > ul.shopping-options > li article > img {
  height: clamp(5rem, 20vmin, 120px);
}
body main #contact > ul.shopping-options > li article h1 {
  font-size: clamp(1.5rem, 3vmin, 4rem);
  font-weight: 500;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}
body main #contact > ul.shopping-options > li article p {
  font-weight: 300;
  font-size: 0.95rem;
  margin-bottom: 1.6em;
}
body main #contact > ul.shopping-options > li article ul.options {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
body main #contact > ul.shopping-options > li article ul.options li a {
  padding: 0.5em 2em;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: transparent;
  border: 1px solid #2A7F62;
  color: #2A7F62;
  font-weight: 600;
  background-color: white;
  font-size: 0.8rem;
  color: #28ae82;
  display: flex;
  align-items: space-between;
  justify-content: center;
  border-color: #ccc;
}
body main #contact > ul.shopping-options > li article ul.options li a.dark-theme {
  background-color: transparent;
  border-color: #333;
}
body main #contact > ul.shopping-options > li article ul.options li a img {
  height: 0.75em;
  margin-left: 0.75em;
}
body main #contact > ul.shopping-options > li article ul.list li a {
  color: #28ae82;
  font-size: 0.9rem;
}
body main #contact > ul.shopping-options > li article ul.list li a::before {
  content: "•";
  margin-right: 0.4em;
}
body main #contact > ul.shopping-options > li.shop-online article, body main #contact > ul.shopping-options > li.local-sellers article {
  background-color: rgba(207, 207, 207, 0.15);
}
@media screen and (max-width: 800px) {
  body main #contact > ul.shopping-options > li.shop-online article, body main #contact > ul.shopping-options > li.local-sellers article {
    padding-left: clamp(10px, 5vw, 250px);
    padding-right: clamp(10px, 5vw, 250px);
    padding-top: clamp(10px, 5vw, 250px);
    padding-bottom: clamp(10px, 5vw, 250px);
  }
}
@media screen and (max-width: 800px) and (min-width: 1200px) {
  body main #contact > ul.shopping-options > li.shop-online article, body main #contact > ul.shopping-options > li.local-sellers article {
    padding-left: 10vw;
  }
}
@media screen and (max-width: 800px) and (min-width: 1200px) {
  body main #contact > ul.shopping-options > li.shop-online article, body main #contact > ul.shopping-options > li.local-sellers article {
    padding-right: 10vw;
  }
}
@media screen and (max-width: 800px) and (min-width: 1200px) {
  body main #contact > ul.shopping-options > li.shop-online article, body main #contact > ul.shopping-options > li.local-sellers article {
    padding-top: 10vw;
  }
}
@media screen and (max-width: 800px) and (min-width: 1200px) {
  body main #contact > ul.shopping-options > li.shop-online article, body main #contact > ul.shopping-options > li.local-sellers article {
    padding-bottom: 10vw;
  }
}
body main #contact > ul.shopping-options > li.our-store address {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: end;
  justify-content: center;
}
body main #contact > ul.shopping-options > li.our-store address > a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
}
body main #contact > ul.shopping-options > li.our-store address > a img {
  height: 1.3em;
  margin-right: 1em;
}
body main #contact > ul.shopping-options > li.our-store address > a span {
  font-style: normal;
  font-size: 1em;
  text-align: start;
  font-weight: 300;
  white-space: nowrap;
}
body main #contact .contact-form {
  margin-left: clamp(10px, 5vw, 250px);
  margin-right: clamp(10px, 5vw, 250px);
  display: flex;
  flex-direction: column;
  background-color: #d5eee6;
  border-radius: clamp(10px, 3vmin, 35px);
  padding: clamp(0.8rem, 3vmin, 2rem);
  width: min(100%, 450px);
}
@media screen and (min-width: 1200px) {
  body main #contact .contact-form {
    margin-left: 10vw;
  }
}
@media screen and (min-width: 1200px) {
  body main #contact .contact-form {
    margin-right: 10vw;
  }
}
body main #contact .contact-form.dark-theme {
  background-color: #1d322b;
}
body main #contact .contact-form h1 {
  font-size: clamp(1.4rem, 3vmin, 2.5rem);
  font-weight: 700;
}
body main #contact .contact-form h2 {
  font-size: clamp(1rem, 1.7vmin, 1.8rem);
  color: #999;
  margin-bottom: 1em;
}
body main #contact .contact-form form {
  display: flex;
  flex-direction: column;
}
body main #contact .contact-form form label {
  font-size: 0.95rem;
  font-weight: 500;
}
body main #contact .contact-form form input,
body main #contact .contact-form form textarea {
  border-radius: 3px;
  margin-bottom: 0.6em;
  resize: none;
}
body main #contact .contact-form form input:not([type=button]),
body main #contact .contact-form form textarea:not([type=button]) {
  padding: 0.3em 1em;
}
body main #contact .contact-form form input:not([type=button]).dark-theme,
body main #contact .contact-form form textarea:not([type=button]).dark-theme {
  background-color: #294239;
}
body main #contact .contact-form form input[type=button],
body main #contact .contact-form form textarea[type=button] {
  padding: 0.5em 2em;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #2A7F62;
  color: white;
  font-weight: 600;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  width: 100%;
  margin-top: 0.5em;
}
body main #contact .contact-form form input[type=button].dark-theme,
body main #contact .contact-form form textarea[type=button].dark-theme {
  box-shadow: 0px 4px 8px rgba(42, 127, 98, 0.7);
}
body main #contact .map {
  background-color: #6DCAAA;
  flex-grow: 1;
  margin-right: clamp(10px, 5vw, 250px);
}
@media screen and (min-width: 1200px) {
  body main #contact .map {
    margin-right: 10vw;
  }
}
@media screen and (max-width: 800px) {
  body main #contact .map {
    display: none;
  }
}
body footer {
  padding-left: clamp(10px, 5vw, 250px);
  padding-right: clamp(10px, 5vw, 250px);
  padding-top: clamp(2rem, 8vmin, 5rem);
  padding-bottom: clamp(2rem, 8vmin, 5rem);
  background-color: #134030;
  display: grid;
  gap: 3rem;
  grid-template-areas: "logo" "copy" "addr" "medi" "disc";
}
@media screen and (min-width: 1200px) {
  body footer {
    padding-left: 10vw;
  }
}
@media screen and (min-width: 1200px) {
  body footer {
    padding-right: 10vw;
  }
}
@media screen and (min-width: 801px) {
  body footer {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "logo .... medi" "copy disc addr";
  }
}
body footer * {
  color: white;
}
body footer .logo {
  grid-area: logo;
}
body footer .logo svg {
  height: clamp(2rem, 5vmax, 4rem);
}
body footer .logo svg .text {
  fill: white;
}
body footer .copyright {
  grid-area: copy;
  display: flex;
  flex-direction: column;
  font-weight: 300;
}
@media screen and (min-width: 801px) {
  body footer .copyright {
    align-self: end;
  }
}
body footer .copyright span {
  font-size: 0.9rem;
}
body footer .copyright span:first-child {
  font-weight: 400;
}
body footer .copyright span:last-child {
  color: #bbb;
}
body footer .social-media {
  grid-area: medi;
  justify-self: center;
}
@media screen and (min-width: 801px) {
  body footer .social-media {
    justify-self: end;
  }
}
body footer .social-media ul {
  font-size: 2.5rem;
  display: flex;
  gap: 0.1em;
}
body footer .social-media ul li {
  font-size: inherit;
  height: 1em;
}
body footer .social-media ul li img {
  height: 100%;
}
body footer address {
  grid-area: addr;
  display: flex;
  flex-direction: column;
  align-items: end;
}
@media screen and (min-width: 801px) {
  body footer address {
    align-self: end;
  }
}
body footer address * {
  font-weight: 300;
}
body footer address a {
  margin-bottom: 0.5em;
}
body footer address a.email {
  color: lightblue;
}
body footer address a.location {
  color: #ccc;
}
body footer .disclaimer {
  grid-area: disc;
  text-align: center;
  font-weight: 300;
}
@media screen and (min-width: 801px) {
  body footer .disclaimer {
    align-self: end;
  }
}
body footer .disclaimer span {
  color: hsl(0deg, 50%, 50%);
}/*# sourceMappingURL=index.css.map */