@import "utilities";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins, Segoe UI,sans-serif;
  border: none;
  outline: none;
  text-decoration: none;
  color: black;
  font-size: 1rem;
  scroll-behavior: smooth;

  &.dark{
    display: none;
  }
  &.dark-theme{
    color: white;

    &.dark{
      display: unset;
    }
    &.light{
      display: none;
    }
  }
}

img{
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

ul{
  list-style-type: none;
}